<div class="vow-footer" fxFlexFill>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <vow-mailing-list fxFlex="36"></vow-mailing-list>
    <div class="info" fxFlex="25">
      <p>
          Valley Oak Winery<br/>
          11809 E Belmont Ave<br/>
          Sanger, CA 93657
      </p>
      <p>
          <a mat-button href="mailto:info@valleyoakwinery.com" target="_blank">info@valleyoakwinery.com</a><br/>
          559.940.6040
      </p>
      <p>
          Open Saturday and Sunday<br/>
          noon to 5pm<br/>
          ​or by appointment
      </p>      
    </div>
    <vow-map fxFlex="39"></vow-map>
  </div>
  <div class="bottom-footer" fxLayout="row" fxLayout.xs="column">
    <div class="copywrite" fxFlex="50">
      <div class="vow-copywrite">
        <div>All rights reserved</div>
        <div>Valley Oak Winery, LLC &copy;</div>
      </div>
    </div>
    <div class="social" fxFlex="50">
      <div class="social-link">
        <a mat-button href="http://facebook.com/valleyoakwinery" target="_blank" class="tk-pt-serif">Facebook</a>
      </div>
      <div class="social-link">
          <a mat-button href="http://instagram.com/valleyoakwinery" target="_blank" class="tk-pt-serif">Instagram</a>
      </div>
    </div>
  </div>
</div>
