<div class="wines">
  <div class="wine-list">
    <div class="wine-type-header">
      Ubick Vineyards Reserve Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Sangiovese 2017</div>
        <div class="wine-sold-out">Limited Quantity</div>
        <div class="wine-price">$34</div>
      </div>
      <div class="wine-description">
        Bright brick red, light wine with Blackberry & Cherry on the nose, with Blackberry, Raisin, Cherry & Spice flavors. Pleasant lingering dry finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$25</div>
      </div>
      <div class="wine-description">
        Surprisingly Bold medium body wine with Earthy & Dark Cherry nose plus Pepper & Spice flavors. Full, long, lingering spiciness on the finish. A wine to remember!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Cabernet Sauvignon 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$27</div>
      </div>
      <div class="wine-description">
        A true Cab lover’s wine! Full body with great legs. Just so satisfying Cherry, Licorice, & Rose flavors & aroma. Smooth finish with a touch of pepper.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$33</div>
      </div>
      <div class="wine-description">
        Rich gorgeous garnet color with Raspberry aroma & complex flavors of Dried fruit, Berries, Licorice, Spice & Pepper. Smooth & creamy with a lingering spicy finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Sangiovese 2018</div>
        <div class="wine-sold-out">New Release May 1</div>
        <div class="wine-price">$27</div>
      </div>
      <div class="wine-description">
        Wow! This barrel tasted sensation is Deep Red with Blackberry, Cherry & Dried Fruit aromas, followed by Dark Cherry & Dried Plum flavors, finishes with a soft mild spice.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Merlot 2018</div>
        <div class="wine-sold-out">Half $13</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        A nose of Fresh Cherry & ripe Strawberry give way to fruity Blackberry & Clove flavors with a soft, light finish. You can drink this wine all day!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2018</div>
        <div class="wine-sold-out">Half $14</div>
        <div class="wine-sold-out">Magnum $55</div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        A true ruby colored gem! Blackberry & Plum bouquet with Raspberry & Plum flavors followed by soft finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Cabernet Sauvignon 2018</div>
        <div class="wine-sold-out">New Release May 1</div>
        <div class="wine-sold-out">Half $15</div>
        <div class="wine-sold-out">Magnum $60</div>
        <div class="wine-price">$25</div>
      </div>
      <div class="wine-description">
        Enticing dark Garnet with lingering legs has Dark Berry & Oak aromas and Ripe Cherry & Dark Berry flavors with a touch of Oak in a Peppery finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2018</div>
        <div class="wine-sold-out">Half $16</div>
        <div class="wine-sold-out">Magnum $62</div>
        <div class="wine-price">$26</div>
      </div>
      <div class="wine-description">
        Showy legs, inviting Strawberry & Blackberry aromas and delicious, jammy Dried Fruit & Ripe Cherry flavors make this wine oh-so-plush.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2018</div>
        <div class="wine-sold-out">Half $19</div>
        <div class="wine-sold-out">Magnum $77</div>
        <div class="wine-price">$33</div>
      </div>
      <div class="wine-description">
        Que Syrah, Syrah! From aromas of Dried fruits & tree ripe Cherries to Blackberry jam flavors with spicy finish & lush mouth feel, this is what Syrah is meant to be!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Petite Sirah 2018</div>
        <div class="wine-sold-out">New Release May 1</div>
        <div class="wine-sold-out">Magnum $72</div>
        <div class="wine-price">$30</div>
      </div>
      <div class="wine-description">
        Rich plum color with lovely legs!  Luscious fully ripened Blackberry & Black Currant flavors and aromas with soft spice on the finish lend an air of complexity to a delectable wine!
      </div>
    </div>

    <div class="wine-type-header">
      Valley Oak Wines
    </div>
    <div class="wine-sub-header">
      White
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Albariño 2018</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        Translucent blond color with Green Apple, Pineapple & Pear aromas & Flavors. Soft & smooth, accented with a refreshing minerality. This wine rocks!
      </div>
    </div>
    <div class="wine-sub-header">
      Blush
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel Rosé 2019</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        Pale with just a hint of blush and enticing Pear, Grapefruit, Peach, & Apricot aromas, this wine delights with refreshing Peach & Apricot flavors and a smooth finish.
      </div>
    </div>
    <div class="wine-sub-header">
      Red
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2017</div>
        <div class="wine-price">$20</div>
      </div>
      <div class="wine-description">
        Rustic brick colored wine with Red Berry & Black Pepper aromas and Light Cherry & Berry flavors followed by a delicate spicy finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Wildflower</div>
        <div class="wine-price">Sold Out</div>
      </div>
      <div class="wine-description">
        Bright Ruby medium body wine with Strawberry and Cherry bouquets & flavors of ripe Peaches and Strawberries and a soft smooth finish.
      </div>
    </div>
    <div class="wine-sub-header">
      Dessert Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Symphony 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$19</div>
      </div>
      <div class="wine-description">
        Nice sweet surprise with Pineapple & Tropical fruit nose and & Muscat, Sweet Tropical fruit & Citrus flavors in a soft creamy wine.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Gold Dust</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$17</div>
      </div>
      <div class="wine-description">
        Delightful & slightly decadent, this red topaz colored wine is a complex mingling of Dried Fruits, Caramel, Honey, Maple, Tea, Strawberry jam, Chocolate & more aromas & flavors.  Oh, so smooth!
      </div>
    </div>
    <div class="wine-footer">
      Glass of Wine $10 | Charcuterie Small Plate $10 | Wine Tasting $10 per person. Wine tasting charge may be waived with purchase.
    </div>
  </div>
</div>
