<div class="wines">
  <div class="wine-list">
    <div class="wine-type-header">
      Ubick Vineyards Reserve Red Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Sangiovese 2018</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$27</div>
      </div>
      <div class="wine-description">
        Wow! This barrel tasting favorite is Deep Red with Blackberry, Cherry & Dried Fruit aromas, followed by Dark Cherry & Dried Plum flavors, finishes with a soft mild spice.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Sangiovese 2019</div>
        <div class="wine-sold-out">Release Date Dec 2022</div>
        <div class="wine-price">$29</div>
      </div>
      <div class="wine-description">
        A Ruby beauty with Cherry bouquet followed by & Dark Cherry & Dried Fruit flavors and a light peppery finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Merlot 2018</div>
        <div class="wine-sold-out">Half $13</div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        A nose of Fresh Cherry & ripe Strawberry give way to fruity Blackberry & Clove flavors with a soft, light finish. You can drink this wine all day!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Merlot 2019</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$25</div>
      </div>
      <div class="wine-description">
        A hefty aroma of dark, rich cherry leads to dried fruit & cherry flavors with a light peppery finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2018</div>
        <div class="wine-sold-out">Half $14</div>
        <div class="wine-sold-out">Magnum $55</div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        A true ruby colored gem! Blackberry & Plum bouquet with Raspberry & Plum flavors followed by a soft finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2019</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$25</div>
      </div>
      <div class="wine-description">
        Nice legs in a smooth garnet gem with Dark Cherry & Berry nose, then Cherry, Blackberry & Strawberry flavors & a gentle pepper finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Cabernet Sauvignon 2018</div>
        <div class="wine-sold-out">Half $15</div>
        <div class="wine-sold-out">Magnum $60</div>
        <div class="wine-price">$25</div>
      </div>
      <div class="wine-description">
        Enticing dark Garnet with lingering legs has Dark Berry & Oak aromas and Ripe Cherry & Dark Berry flavors with a touch of Oak in a Peppery finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2018</div>
        <div class="wine-sold-out">Half $16</div>
        <div class="wine-sold-out">Magnum $62</div>
        <div class="wine-price">$26</div>
      </div>
      <div class="wine-description">
        Showy legs, inviting Strawberry & Blackberry aromas with delicious, jammy, Dried Fruit & Ripe Cherry flavors make this wine oh-so-plush.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2019</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$27</div>
      </div>
      <div class="wine-description">
        Cabaret legs &amp; a Ripe Cherry nose leading to Cherry, Blackberry, Strawberry, Tree Fruit, Raisin & Dried Plum flavors. Finishes with Spice & Dried Fruit notes.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2018</div>
        <div class="wine-sold-out">Half $19</div>
        <div class="wine-sold-out">Magnum $77</div>
        <div class="wine-price">$33</div>
      </div>
      <div class="wine-description">
        Que Syrah, Syrah! From aromas of Dried fruits & tree ripe Cherries to Blackberry jam flavors with spicy finish & lush mouth feel, this is what Syrah is meant to be!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2019</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$33</div>
      </div>
      <div class="wine-description">
        Ah, the luscious complexity of Rich dark Cherry & hint of Blackberry aroma segues to Ripe Cherry, Fig, Dried Plum & super ripe fruit flavors with a spicy finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Petite Sirah 2018</div>
        <div class="wine-sold-out"></div>
        <div class="wine-sold-out">Magnum $72</div>
        <div class="wine-price">$30</div>
      </div>
      <div class="wine-description">
        Rich plum color with lovely legs! Luscious fully ripened Blackberry & Black Currant flavors and aromas with soft spice on the finish lend an air of complexity to a delectable wine!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Petite Sirah 2019</div>
        <div class="wine-sold-out">Release Date Dec 2022</div>
        <div class="wine-price">$32</div>
      </div>
      <div class="wine-description">
        A nose of Dark Cherry & Prune leading to late season fully ripe Cherry, Fig, Prune & Blackberry flavors with pepper on the finish.
      </div>
    </div>

    <div class="wine-type-header">
      Valley Oak Wines
    </div>
    <div class="wine-sub-header">
      White
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Viognier 2021</div>
        <div class="wine-sold-out">New Release June 2022!</div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        White wine paradise! Clear & bright, distinct Grapefruit & Lemon aromas and crisp, refreshing flavors of Grapefruit & Fresh Apple followed by a lingering citrus finish.
      </div>
    </div>
    <div class="wine-sub-header">
      Blush
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Rosé 2020</div>
        <div class="wine-sold-out">New Release June 2022!</div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        A translucent pale beauty with Citrus & Melon aromas and Grapefruit, Green Apple & Honeydew flavors, this wine is a smooth delight.
      </div>
    </div>
    <div class="wine-sub-header">
      Red
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Cosmos 2019</div>
        <div class="wine-sold-out">New Release May 2022!</div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        This blend of our own Petite Sirah, Zinfandel & Sangiovese is easy drinking with aromas of Sweet Cherry & Berry, soft Cherry flavor and a dry, hint-of-spice finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2017</div>
        <div class="wine-price">$20</div>
      </div>
      <div class="wine-description">
        Rustic brick colored wine with Red Berry & Black Pepper aromas and Light Cherry & Berry flavors followed by a delicate spicy finish.
      </div>
    </div>
    <div class="wine-sub-header">
      Dessert Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Symphony 2021</div>
        <div class="wine-sold-out">Coming Soon!</div>
        <div class="wine-price">$21</div>
      </div>
      <div class="wine-description">
        An enticing delight of citrusy, green apple & muscat aromas with ripe tropical fruit, melon & soft citrus flavors; this sweet & light nectar is amazing!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Gold Dust</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$17</div>
      </div>
      <div class="wine-description">
        Delightful & slightly decadent, this red topaz colored wine is a oh so smooth mingling of Dried Fruits, Caramel, Honey, Maple, Tea, Strawberry jam, Chocolate & more.
      </div>
    </div>
    <div class="wine-footer">
      Glass of Wine $10 | Charcuterie Small Plate $12 | Wine Tasting $15 per person. Wine tasting charge may be waived with purchase.
    </div>
  </div>
</div>
