<div class="wines">
  <div class="wine-list">
    <div class="wine-type-header">
      Red Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Sangiovese 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">Ubick Vineyards Reserve $34</div>
      </div>
      <div class="wine-description">
        Bright brick red, light wine with Blackberry & Cherry on the nose, with Blackberry, Raisin, Cherry & Spice flavors. Pleasant lingering dry finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2017 </div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$24</div>
      </div>
      <div class="wine-description">
        Rustic brick colored with Red Berries & Black Pepper aromas and Light Cherry & Berry flavors followed by a delicate spicy finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Wildflower</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$20</div>
      </div>
      <div class="wine-description">
        Bright Ruby medium body wine with Strawberry and Cherry bouquets & flavors of ripe Peaches and Strawberries and a soft smooth finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">Ubick Vineyards Reserve $25</div>
      </div>
      <div class="wine-description">
        Surprisingly Bold medium body wine with Earthy & Dark Cherry nose plus Pepper & Spice flavors. Full, long, lingering spiciness on the finish. A wine to remember!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Cabernet Sauvignon 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">Ubick Vineyards Reserve $27</div>
      </div>
      <div class="wine-description">
        A true Cab lover’s wine! Full body with great legs. Just so satisfying Cherry, Licorice, & Rose flavors & aroma. Smooth finish with a touch of pepper.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">Ubick Vineyards Reserve $33</div>
      </div>
      <div class="wine-description">
        Rich gorgeous garnet color with Raspberry aroma & complex flavors of Dried fruit, Berries, Licorice, Spice & Pepper. Smooth & creamy with a lingering spicy finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Merlot 2018</div>
        <div class="wine-sold-out">NEW Release</div>
        <div class="wine-price">Ubick Vineyards Reserve $20</div>
      </div>
      <div class="wine-description">
        A nose of Fresh Cherry & ripe Strawberry give way to fruity Blackberry & Clove flavors with a soft, light finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Barbera 2018</div>
        <div class="wine-sold-out">NEW Release</div>
        <div class="wine-price">Ubick Vineyards Reserve $25</div>
      </div>
      <div class="wine-description">
        A true ruby colored gem! Blackberry & Plum bouquet with Raspberry & Plum flavors followed by soft finish.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel 2018</div>
        <div class="wine-sold-out">NEW Release</div>
        <div class="wine-price">Ubick Vineyards Reserve $24</div>
      </div>
      <div class="wine-description">
        Showy legs, inviting Strawberry & Blackberry aromas and delicious, jammy Dried Fruit & Ripe Cherry flavors. It’s absolutely Zin-ful!
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Syrah 2018</div>
        <div class="wine-sold-out">NEW Release</div>
        <div class="wine-price">Ubick Vineyards Reserve $34</div>
      </div>
      <div class="wine-description">
        Que Syrah, Syrah! From aromas of Dried fruits & tree ripe Cherries to Blackberry jam flavors with spicy finish & lush mouth feel, this is what Syrah is meant to be!
      </div>
    </div>
    <!-- <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Petite Sirah 2017 UV</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">SOLD OUT</div>
      </div>
      <div class="wine-description">
        Oh for the love of Petite! Inky with fantastic legs & aromas of Blackberry & Dried Fruit. This luscious, velvety treat has Blackberry, Plum & Dried Fruit flavors, and a touch of pepper on the finish.
      </div>
    </div> -->
    <div class="wine-type-header">
      White Wine
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Albariño 2018</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        Translucent blond color with Green Apple, Pineapple & Pear aromas & Flavors. Soft & smooth, accented with a refreshing minerality. This wine rocks!
      </div>
    </div>
    <div class="wine-type-header">
      Blush Wine
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Zinfandel Rosé 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$22</div>
      </div>
      <div class="wine-description">
        Translucent coral color Rosé, a nose of Melon, Peach & Floral, and flavors of Melon, Tropical & Stone fruits. Refreshing with a Light lingering sweet finish.
      </div>
    </div>
    <div class="wine-type-header">
      Dessert Wines
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Symphony 2017</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$19</div>
      </div>
      <div class="wine-description">
        Nice sweet surprise with Pineapple & Tropical fruit nose and & Muscat, Sweet Tropical fruit & Citrus flavors in a soft creamy wine.
      </div>
    </div>
    <div class="wine">
      <div class="wine-header">
        <div class="wine-title">Gold Dust</div>
        <div class="wine-sold-out"></div>
        <div class="wine-price">$23</div>
      </div>
      <div class="wine-description">
        Delightful & slightly decadent, this red topaz colored wine is a complex mingling of Dried Fruits, Caramel, Honey, Maple, Tea, Strawberry jam, Chocolate & more aromas & flavors. Smooth & creamy with a spicy finish.
      </div>
    </div>
  </div>
</div>
