<div class="wine_club">
  <div class="wine-club-header">
    Wine Club
  </div>
    <form>
      <div class="left_column">
        <div class="heading">
          ~ Complimentary wine tasting<br/>
          ~ Discount on Wines, Events, & Logo gear <br/>
          ~ First option on new release & close outs <br/>
          ~ Additional 2-5% discount on club pickups
        </div>
        <div class="member_options">
          <div class="option">
            <mat-checkbox [checked]="false">Crush Pad Member</mat-checkbox>
            <ul>
              <li>
                4 bottles / 2 times per year
              </li>
              <li>
                10% discount
              </li>
            </ul>
          </div>
          <div class="option">
            <mat-checkbox [checked]="false">Tasting Room Member</mat-checkbox>
            <ul>
              <li>
                6 bottles / 2 times per year
              </li>
              <li>
                20% discount
              </li>
              <li>
                Access to Limited Edition wines
              </li>
            </ul>
          </div>
          <div class="option">
            <mat-checkbox [checked]="false">Cellar Club Member</mat-checkbox>
            <ul>
              <li>
                12 bottles / 2 times per year
              </li>
              <li>
                25% discount
              </li>
              <li>
                Access to Limited Edition wines
              </li>
              <li>
                Special privileges/offerings
              </li>
            </ul>
          </div>
          <div class="option">
            <mat-checkbox [checked]="false">Corporate Member</mat-checkbox>
            <ul>
              <li>
                (ask for details)
              </li>
            </ul>
          </div>
          <div class="option">
            Wine club membership is available.  Please call or visit the winery.
          </div>
        </div>
      </div>
    </form>
  </div>
