<div class="wine_club">
  <div class="wine-club-header">
    Wine Club
  </div>
    <form>
      <div class="left_column">
        <div class="heading">
          Benefits: Complimentary tasting (up to 3 guests) <br/>
          ~ 2 shipments per year <br/>
          ~ Discount on Wines, Events, & Logo gear <br/>
          ~ First option on new release & close out
        </div>
        <div class="member_options">
          <div class="option">
            <mat-checkbox [checked]="false">Crush Pad Member</mat-checkbox>
            <div class="price">$85-$90/delivery</div>
            <ul>
              <li>
                4 bottles / 2 times per year
              </li>
              <li>
                10% discount
              </li>
            </ul>
          </div>
          <div class="option">
            <mat-checkbox [checked]="false">Tasting Room Member</mat-checkbox>
            <div class="price">$110-$120/delivery</div>
            <ul>
              <li>
                6 bottles / 2 times per year
              </li>
              <li>
                20% discount
              </li>
              <li>
                Limited edition wines
              </li>
            </ul>
          </div>
          <div class="option">
            <mat-checkbox [checked]="false">Cellar Club Member</mat-checkbox>
            <div class="price">$210-$225/delivery</div>
            <ul>
              <li>
                12 bottles / 2 times per year
              </li>
              <li>
                25% discount
              </li>
              <li>
                Limited edition wines
              </li>
              <li>
                Special privileges/offerings
              </li>
            </ul>
          </div>
          <div class="option">
            Wine club membership is available.  Please call or visit the winery.
          </div>
        </div>
      </div>
    </form>
  </div>
