.email-signup {
  font-family: "pt-serif";
  min-width: 350px;
  align-content: center;
  text-align: center;
  padding: 24px;
  
  .accent {
    font-style: italic;
    font-size: 80%;
    opacity: .7;
  }
  .title {
    font-weight: 900;
  }
}