<div style="height: 100vh;" class="tk-pt-serif"> 
  <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <img class="logo" src="assets/images/ValleyOak_Logo_tree_only.svg">
      <a mat-button class="companyName" routerLink="/">
        <span class="tk-origins">Valley Oak Winery</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/" class="tk-pt-serif">Our Story</a>
        <a mat-button routerLink="/wines" class="tk-pt-serif">Wines</a>
        <a mat-button routerLink="/wine-club" class="tk-pt-serif">Wine Club</a>
        <a mat-button routerLink="/pictures" class="tk-pt-serif">Pictures</a>
        <!-- <a mat-button routerLink="/store" class="tk-pt-serif">Store</a> -->
      </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/" class="tk-pt-serif">Our Story</a>
        <a mat-button routerLink="/wines" class="tk-pt-serif">Wines</a>
        <a mat-button routerLink="/wine-club" class="tk-pt-serif">Wine Club</a>
        <a mat-button routerLink="/pictures" class="tk-pt-serif">Pictures</a>
        <!-- <a mat-button routerLink="/store" class="tk-pt-serif">Store</a> -->
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="calc(100% - 464px)" class="left-container">
          <router-outlet></router-outlet>
        </div>
        <div fxFlex="464px" class="right-container">
          <vow-facebook-feed></vow-facebook-feed>
        </div>
      </div>
      <div fsLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="100">
          <vow-footer></vow-footer>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
